<div class="container-full">
    <h1 class="header">Quotes:</h1>
    <div class="row">
      <div class="col-md-7">
  
        <div class ="card" *ngFor='let quote of quotes;let i = index'>
          <div class ="card-header">
            <h4 class="text-center title" id ="title">{{quote.title}} </h4>
            <div  class="del" (click)="toggleDetails(i)"></div>
            </div>
            <h4 id="body" appHighlight> {{quote.body}}</h4>
            <h4 id="author"> -{{quote.author}}</h4>
  
          <div *ngIf='quote.showCompleteDate'>
            <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>